@import url('https://unpkg.com/primeicons/primeicons.css');
@import url('https://unpkg.com/primeng/resources/themes/lara-light-blue/theme.css');
@import url('https://unpkg.com/primeng/resources/primeng.min.css');
@import url('https://unpkg.com/primeflex@3.3.1/primeflex.css');

body {
  margin: 0;
  background: #f8fafc;
}

.p-button {
  font-weight: 700;
}
